.header{
  /* background-color: black; */
   background-image: url("https://raw.githubusercontent.com/nickperez1285/porchpoboxfrontend/refs/heads/main/public/logo.png");
      background-repeat: no-repeat;
  background-size: contain;
  /* background-attachment: fixed; */
    background-position: center center;
        opacity: 1;
        height:150px;

          display: flex;

}
